body {
font-family: 'poppins', sans-serif;
background: #282f39;
margin: 0px;
background-size: 100%;
}

/* Make a background picture and detail it (resize and opacity)*/
body::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;   
  width: 100%;   
  height: 700px;
background: url("pictures/oceanbruh3.jpg");
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.title {
display: inline-block;
position: absolute;
bottom: 50%;
left: 23%;
color: white;
text-align: center;
}

p {
	margin:0;
}

#second_thing {
	background: #737373;
	width: 800px;
	padding: 10px 5px 10px 5px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	position: absolute;
	left: -63px;
}

#bigwords {
	font-size: 75px;
	margin: 0px;
	font-family: 'Bebas Neue', cursive;
	width: 400px;
	position: absolute;
	left: 150px;
	bottom: 5px;
}

#achievment_box {
background: #c7d0d8;
width: 260px;
height: 140px;
position: absolute;
top: 800px;
left: 500px;
}

#atext {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 68px;
	position: absolute;
	letter-spacing: 2px;
	top: 825px;
    left: 420px;
}
#info_box1 {
	background: #c7d0d8;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 100px;
}