body {
font-family: 'poppins', sans-serif;
background: #ffffff;
margin: 0px;

}

.nav {
background-color: #193e4f;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 11px 13px; /* each number affects the 2 sides they affect in 4 */
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.nav a.active {
background-color: #1faced;
color: white;
}  

#button {
background-color: #193e4f; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
.aboutcontainer {
height: 400px;
}
#about {
border: 10px solid black;
padding: 5px;
display: inline-block;
position: absolute;
bottom: 60%;
left: 50%;
margin-left: -50px;
background: black;
color: white;
text-align: center;
}
img{
	width: 100%;
	height: 700px;
	opacity: 0.5;
	z-index: -1;
}